

<div class="popin open-in" style="display: none">
	<div class="" >
		<h2>Open in workspace:</h2>
		<ul class="use-workspace" >
			<li>1</li>
			<li>2</li>
			<li>3</li>
		</ul>
	</div>
</div>

<div class="console">
	<div class="open-me"> Click to open console
	</div>
</div>


<div class="tree-viewer" style="">
	<div class="row tree-viewer-tree" id="miller">

	</div> 
</div> 

<div class="work-spaces">
	<div class="row">
	  <div class="workspace go-droparea">

	  </div>

	  <div class="workspace go-droparea">

	  </div>
	  <div class="workspace go-droparea"></div>
	</div>
</div>

<!-- Helper Liquid templates used by other templates -->
<script type="text/liquid" id="game_objects_search_template">

	<div class="popin search" style="display: none;">
		<div class="close"></div>
		<div class="find-and-open" >
			<form>
				<h2>Search to open:</h2>
				<input type="text" value="" placeholder="Object Id or name" class="search-field" /><br />
				<div class="results-container game-object-list">
					<table class="gol-table">

					</table>
				</div>
			</form>
		</div>
	</div>
</script>


<script type="text/liquid" id="game_objects_collection_list_template">
	{% for game_object in game_objects_list %}
		<tr class="game_object_row" data-identifier="{{game_object.identifier}}"> 
			<td class="image-col"><img src="" alt="" /></td> 
			<td class="name-col go-draghandle editable">
				<span class="name">{{game_object.name}}</span>
				<span class="identifier">#{{game_object.identifier}}</span></td> 
			<td class="type-col">{{game_object.class_name}}</td> 
			{% if game_object.no_checkbox == true %}
				<td class="checkbox-col"> </td> 
			{% else %}
				<td class="checkbox-col"><input type="checkbox" value="" /></td> 
			{% endif %}
		</tr> 
	{% endfor %}

</script>

<script type="text/liquid" id="game_objects_collection_pagination_template">
	{% capture num_pages %}{{ pages | size  }}{% endcapture %}					
	{% for page in pages %}<a href="#" class="{% if page == selected_page %}selected{% endif %}"> {{ page }}</a>
	{% endfor %}
</script>

<script type="text/liquid" id="game_objects_collection_template">
	<div class="game-object-list" data-identifier="{{identifier}}">
			{% if loading %}
				<div class="loader"></div>
			{% else %}
				  	<table class="gol-table">
						<thead> 
								<tr> 
								 	<th colspan="4"><a href="#" class="select_all">select all </a> - <span class="objects-selected-in-list gameobject-list-counter gol-draghandle">0</span> of <span class="objects-in-list gameobject-list-counter gol-draghandle">{{num_game_objects}}</span></th> 
								</tr> 
							</thead> 
				  		<tbody> 
				  			{% include 'game_objects_collection_list_template'  %}
				  		</tbody>
							<tfoot>
								<tr>
								<td>{% if num_pages > 1 %} < {% endif %} </td>
									<td colspan="2" class="col-pagination">
									{% include 'game_objects_collection_pagination_template'  %}
									</td>
									<td>{% if num_pages > 1 %} > {% endif %}</td>
								</tr>
				  		</tfoot>
					</table>
						<div style="text-align: right; margin-top: 5px;">
					  		<button type="button" class="btn btn-default btn-xs delete-selected-button ">Delete selected	</button>
					  	</div>

			{% endif %}
	</div>
</script>



<!-- Liquid Templates for javascripts-->
<script type="text/liquid" id="game_objects_collection_in_ws_template">
	  	<div class="game-object-list">
	  		<div class="header">
		  		<div class="path"> Game Objects collection </div>
		  		<div class="tools"> 
		  			<span class="icon x">x</span>
		  			<span class="icon plus"> + </span>  
		  		</div>
		  	</div>
		  	{% include 'game_objects_collection_template' %}
	  	</div>

</script>

<script type="text/liquid" id="workspace_more_popin_template">
	  <div class="popin">
		  	<div class="close"></div>
		  	<form>
			  	<h2>Actions </h2>
					<button type="button" class="btn btn-default ">Delete</button> 
					<button type="button" class="btn btn-default ">Duplicate</button> 

			</form>
		  </div>
</script>

<script type="text/liquid" id="workspace_editable_popin_template">
	  <div class="popin">
		  	<div class="close"></div>
		  	<form>
			  	<h2>{{header}} </h2>

			  	{% if type == 'string' or type == 'integer' %}

					<input type="text" value="{{value}}" placeholder="{{default}}" class="property-edit-field" /><br />
					<input type="hidden" value="{{identifier}}" />
			  		<div class="button-group">
						<button type="button" class="btn btn-default btn-sm cancel-btn">Cancel</button> 
				 		or
						<button type="button" class="btn btn-default btn-sm save-btn">Save (&crarr;)</button>
					</div>
				{% endif %}
				{% if type == 'object' or type == 'objects' %}
				  	{% include 'game_objects_collection_template'  %}
				  		<div class="property-drop-area go-droparea">
				  			<div class="icon"></div>
				  			Drop object here or click to add by search
						</div>
				{% endif %}
 
			</form>
		  </div>
</script>

<script type="text/liquid" id="game_object_template">
  <div class="game-object" data-identifier="{{identifier}}">
		  	<div class="header">
		  		<div class="path"> {{class_path}} </div>
		  		<div class="tools"> 
		  			<span class="icon x">x</span>
		  			<span class="icon plus">+</span> 

		  		</div>
		  	</div>
		  	<div class="title-container">
			  	<h1 class="title go-draghandle editable name" data-attribute="true" data-key="name" data-identifier='{{identifier}}' data-type="string">{{name}}</h1>
			  	<span class="identifier">#{{identifier}}</span>
			  </div>
		  	<div class="gameobject-tabs tabs-container content">
			  	<ul class="tabs clearfix">
			  		<li class="selected">General</li>
			  		<li class="">Rules</li>
			  		<li class="">Distributions</li>
			  	</ul>
			  	<div class="tabs-content clearfix">
			  		<div class="tab-content selected">
				  		<h3 > Properties </h3>
				  		<table class="property-table"> 
				  			<thead> 
				  				<tr> 
				  					<th>Property</th> 
				  					<th>Value</th> 
				  					<th>Default Value</th> 
				  				</tr> 
				  			</thead> 
				  			<tbody> 
				  			{% for property in properties %}
				  				<tr> 
				  					<td>{{property.name}}</td> 

				  					<td class="active-value editable" data-key="property: {{property.name}}" data-identifier='{{property.identifier}}' data-type='{{property.type}}'>{{ property.current_value}}</td> 
				  					<td class="default-value">{{ property.default_value}}</td> 
				  				</tr> 
				  				{% endfor %}
				  			</tbody> 
				  		</table>
				  		<h3>Description</h3>
				  		<p class="goc-description">
								<img scr="{{image_url}}" class="desc-img" />
				  			<span class="editable description" data-attribute="true" data-key="description" data-identifier="{{identifier}}" data-type="string">{{description}}</span>
				  		</p>
						<h3 class="clearfix">Tags</h3>
						<p>{{ tags }}</p>
					</div>
					<div class="tab-content">
						Rules
					</div>
					<div class="tab-content">
						Distribution
					</div>
				</div>
		  	</div>
	  	</div>
</script>



<script type="text/liquid" id="new_object_template">
	<div class="popin" style="display: block;">
  	<div class="close"></div>
		<div class="new-subclass-popin" style="display: block;">
			<form>
			<h2>New {{class_name}}</h2>
			<input type="text" value="" placeholder="Game Object Name" class="game-object-name"/><br />
			<div class="button-group">
				<button type="button" class="btn btn-default btn-sm create-object-button">Save (&crarr;)</button>
			</div> 
			</form>
		</div>
	</div>
</script>
