<div class="tree-viewer" style="margin-top: 69px;">
	<div class="row tree-viewer-tree" id="miller">
<!--	  <div class="col-md-2 tree-col">
	  	<ul>
	  		<li>Game Objects</li>
	  		<li>Assets</li>
	  		<li>Collection</li>
	  	</ul>		


	  </div>
	  <div class="col-md-2 tree-col">.col-md-1</div>
	  <div class="col-md-2 tree-col">.col-md-1</div>
	  <div class="col-md-2 tree-col">.col-md-1</div>
	  <div class="col-md-2 tree-col">.col-md-1</div>
	  <div class="col-md-2 tree-col">.col-md-1</div>-->
	</div> 
</div> 



<div class="work-spaces" >
	<div class="row">
	  <div class="col-md-4 workspace">1</div>
	  <div class="col-md-4 workspace">2</div>
	  <div class="col-md-4 workspace">3</div>
	</div>

</div>