
<div class="headerblock">

	<div class="text-container">
		<h1>Welcome to the creator and the game: THE GAME</h1>
		<p> If you would like to know more about the creator go to our blog at <a href="http://www.the-creator.org">the-creator.org</a>. The Creator is open source software and the development is sponsored by <a href="www.tii.se">The Interactive Institute, Sweden</a> </p>
	</div>
	<div class="login-box">
		<form>
			<input type="text" placeholder="username" value=""/><br />
			<input type="password" placeholder="password" value=""/><br />	
			<input type="button" value="Login"/>
		</form>
	</div>
</div>