<div class="popin" style="display: none">
	<div class="find-and-open" >
		<form>
		<h2>Search to open:</h2>
		<input type="text" value="" placeholder="Object Id or name" /><br />


		<div class="results-container">

		</div>

 
		</form>
	</div>
</div>

<div class="popin open-in" style="display: none">
	<div class="" >
		<h2>Open 79 Object in workspace:</h2>
		<ul class="use-workspace" >
			<li>1</li>
			<li>2</li>
			<li>3</li>
		</ul>


	</div>
</div>

<div class="console">
	<div class="open-me"> Click to open console
	</div>
</div>



<div class="tree-viewer" style="">
	<div class="row tree-viewer-tree" id="miller">

	</div> 
</div> 

<div class="work-spaces">
	<div class="row">
	  <div class="workspace">
	  	<div class="game-object">
		  	<div class="header">
		  		<div class="path"> Game Object </div>
		  		<div class="tools"> + i</div>
		  	</div>
		  	<h1 class="title">Name of GOC</h1>
		  		<ul class="tabs clearfix">
		  			<li class="selected">General</li>
		  			<li>Rules</li>
		  			<li>Distributions</li>
		  		</ul>
		  	<div class="content clearfix">


		  		<h3 > Properties </h3>
		  		<table class="property-table"> 
		  			<thead> 
		  				<tr> 
		  					<th>Property</th> 
		  					<th>Value</th> 
		  					<th>Default Value</th> 
		  				</tr> 
		  			</thead> 
		  			<tbody> 
		  				<tr> 
		  					<td>Strenth</td> 
		  					<td class="active-value">12</td> 
		  					<td class="default-value">3</td> 
		  				</tr> 
		  				<tr> 
		  					<td>Ninja</td> 
		  					<td class="active-value">121</td> 
		  					<td class="default-value">32</td> 
		  				</tr> 
		  			</tbody> 
		  		</table>
		  		<h3>Description</h3>
		  		<p class="goc-description">
		  				  		<img scr="" class="desc-img" />

		  			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod.
		  		</p>
				<h3 class="clearfix">Tags</h3>
				<p>Tags</p>
		  	</div>
	  	</div>
	  </div>

	  <div class="workspace">
	  	<div class="game-object-list">
	  		<div class="header">
		  		<div class="path"> Game Object </div>
		  		<div class="tools"> + i</div>
		  	</div>
		  	<table class="gol-table">
				<thead> 
	  				<tr> 
	  				 	<th colspan="4"><span class="objects-in-list">239</span></th> 
	  				</tr> 
	  			</thead> 
		  		<tbody> 
		  			<tr> 
	  					<td class="image-col"><img src="" alt="" /></td> 
	  					<td class="name-col">Name of GOC</td> 
	  					<td class="type-col">type</td> 
	  					<td class="checkbox-col"><input type="checkbox" /></td> 
		  			</tr> 
		  			<tr> 
	  					<td class="image-col"><img src="" alt="" /></td> 
	  					<td class="name-col">Name of GOC</td> 
	  					<td class="type-col">type</td> 
	  					<td class="checkbox-col"><input type="checkbox" /></td> 
		  			</tr> 
		  		</tbody>
  				<tfoot>
  					<tr>
	  					<td> </td>
	  					<td colspan="2" class="col-pagination"> 1 2 3 4 5 </td>
	  					<td></td>
  					</tr>
		  		</tfoot>
	  		</table>
	  	</div>
	  </div>
	  <div class="workspace">3</div>
	</div>

</div>