
<div style="background-color: #868680; border-bottom: 1px solid #51534f; padding: 20px 20px">

	<div style="min-width: 200px; width: 40%; margin: 50px 0xp 30px 100px;">
		<h1>Welcome to the creator and the game: THE GAME</h1>
		<p> If you woould like to know more about the creator go to our blog at <a href=""></a>. The Creator is open source software and the development is sponsored by <a href="www.tii.se">The Interactive Institute, Sweden</a> </p>

	</div>
</div>