<div id="search-box" class="animated">
	<div class="bg">
		<div class="field-wrapper">
			<input type="text" name="query" />
			<!-- It's important that this ul is kept formatted like this, since introducing
				even a space or a linebreak makes the :empty-selector not match .daniel -->
			<ul></ul>
		</div>
	</div>
</div>