/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fonts
 *= require bootstrap
 *= require_tree .
 *= require_self

 */



.navbar {
	background-image: url('/assets/header/background-pattern.png');
	background-color: #e0e1db;
	border-bottom: 1px solid #51534f;
	min-height: 69px;
	font-family: texgyreadventorbold, futura, sansseriff;
	padding-top: 10px;

}

.navbar .navbar-brand {
	text-transform:uppercase; 
	color: #8b8b85;
	font-size: 33px;
	font-weight: 900;
	letter-spacing:-2px
}

.navbar .navbar-brand .active-section {
	color: #51534f;
}


.navbar .navbar-nav a { 
	text-transform:uppercase; 
	color: #8b8b85;
	font-size: 16px;
	font-weight: bold;
}


.navbar .navbar-nav a:hover { 
	background-color: transparent;
	color: #51534f;
}
/* Tree viewer styles */


.tree-viewer {
	background-color: #8b8b85;
	min-height: 130px;
	width: 100%;
	border-bottom: 1px solid #51534f;
}


.tree-viewer .tree-viewer-tree {
	min-height: 130px;
}

.tree-viewer .tree-viewer-tree .tree-col {
	border-left: 1px solid #51534f;
	min-height: 130px;

}

.tree-viewer .tree-viewer-tree .tree-col ul {
	background-color: #afb0a8;
	min-height: 130px;
	margin: 0px 0px 0px 10px;
	padding: 5px;
	list-style: none;
}
.tree-viewer .tree-viewer-tree .tree-col li:hover {
	background-color: #51534f;
	color: #FFFFFF;
	cursor: pointer;
}


/* workspaces styles */



.workspace {
	border-left: 1px solid #afb0a8;
	min-height: 600px;
	background-image: url('/assets/workspaces/bg-search.png');
	background-repeat: no-repeat;
	background-position: center; 
}






